# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.python-version
# pycache
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

.env 

# media
media/

# static
static/

# db
db.sqlite3

.env